* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #bbaaff;
    align-items: center;
    text-align: center;
}

.wrapper {
    margin: 100px auto;
    max-width: 800px;
    background-color: white;
    align-content: center;
    align-items: center;
}

.page-logo {
    font-size: 40px;
    padding-top: 20px;
}

button {
    margin: 20px 10px;
}
